
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    color: #ADEFD1FF;
    font-family: 'Outfit', sans-serif;
    border-bottom: 1px solid #ADEFD1FF;
    text-align: center;
}
.navbar_logo {
    margin-left: 1rem;
}

.navbar_logo a {
    color: #ADEFD1FF;
}

.navbar_links {
    display: flex;
    gap: 2rem;
    margin: 0rem 2rem;
    font-size: 1.2rem;
    align-items: center;
}

.navbar_links a {
    color:#ADEFD1FF;
}




@media only screen and (max-width:500px) {
    .navbar {
        padding: 0;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .navbar_logo {
        font-size: 0.7rem;
    }

    .navbar_links {
        font-size: 1rem;
        padding: 0;
        margin: 0;
        gap: 0;
    }

.favorite_icon {
    margin-left: 1.3rem;
    margin-top: 0.5rem;
    padding: 1rem;
}
    
    .avatar {
        width: 100px;
        height: auto;
    }

    .login {
        margin: 1rem 1rem;
    }
}